<body>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="#">
        <img src="" >
            The Retail Bank
      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link"
            routerLink="/user-login">HOME</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/login">ABOUT US
                          </a></li>
                  <li class="nav-item"><a class="nav-link" href="">LOGOUT</a></li>
              </ul>
          </div>
      </nav>
      <div class="functions">
        <nav class="nav-bar">
            <div class="nav-items">
                <a class="links" routerLink="/customer">CUSTOMER DETAILS</a>
                <a class="links" routerLink="/withdraw">WITHDRAW MONEY</a>
                <a class="links" routerLink="/transfer-money">TRANSFER MONEY</a>
                <a class="links" routerLink="/transactions">TRANSACTION DETAILS</a>
                  </div>
            </nav>
      </div>
      <div class="main-img">
        

     </div>
     <div class="Transfer">
        <div class="Transfer-box">
    
            <div class="payment">
              <div class="payment-logo">
                  <p>Retail Bank</p>
                </div>
              
              
              <h2 class="Transfer-h2">Transfer Money</h2>
              <div class="form">
                <div class="#">
                  <label class="label">Source_Account Id:</label>
                  <input type="text" class="input" placeholder="Enter  Source_Account Id">
                  <i class="fas fa-user"></i>
                </div>
                <div class="#">
                  <label class="label">Amount:</label>
                  <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Enter Amount">
                  <i class="far fa-credit-card"></i>
                </div>
                
                  
                <div class="btn">
                  Transfer
                </div> 
                
              </div>
            </div>
          </div>
         
     </div>
    
  
</body>
