<body>
<header>
    <div class="navbar">
      <div class="logo"><h2>RETAIL BANK</h2></div>
        <div class="nav-links">
            <button class="close-nav" ><i class="fas fa-times-circle"></i></button>
            <ul class="links">
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    
      </div>
  </header>
  
  <div class="content">
    <button type="submit" class="btn" name="Get Started">Get Started</button>
    
  </div>
</body>